/* Border */
$border: 1px solid transparent;
$border-radius: .375rem;

/* Colors */
$color-primary : #626ED4;
$color-secondary: #575c62;
$color-success: #2AA39A;
$color-danger: #EC4561;
$color-warning: #F8B425;
$color-info: #38A5F8;
$color-light: #F8F9FA;
$color-dark : #343549;

$color-light-primary: #9ec5fe;
$color-light-secondary: #ced4da;
$color-light-success: #d1e7dd;
$color-light-danger: #f8d7da;
$color-light-warning: #fff3cd;
$color-light-info: #cff4fc;
$color-light-light: #fcfcfd;
$color-light-dark: #e2e3e5;

$colors: (
    primary : #626ED4,
    secondary : #575c62,
    success: #2AA39A,
    danger: #EC4561,
    warning: #F8B425,
    info: #38A5F8,
    light: #F8F9FA,
    dark: #343549
);

$colors-light: (
    primary: #9ec5fe,
    secondary: #ced4da,
    success: #d1e7dd,
    danger: #f8d7da,
    warning: #fff3cd,
    info: #cff4fc,
    light: #fcfcfd,
    dark: #e2e3e5
);

/* Break points */
$container-breakpoints: (
    sm: (576px, 540px),
    md: (768px, 720px),
    lg: (992px, 960px),
    xl: (1200px, 1140px),
    xxl: (1400px, 1320px)
);

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);