html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Border */
/* Colors */
/* Break points */
/* Basic badge style */
.badge {
  /* Disply */
  display: inline-block;
  /* Font */
  font-size: 0.75rem;
  line-height: 1;
  /* Box */
  border: 1px solid transparent;
  padding: 0.35em 0.65em;
  /* Border */
  border-radius: 0.375rem;
  /* Color */
  color: #f8f8fa;
  background-color: #575c62;
}

/* Badge background color */
.badge-primary {
  background-color: #626ED4;
}

/* Badge background color */
.badge-secondary {
  background-color: #575c62;
}

/* Badge background color */
.badge-success {
  background-color: #2AA39A;
}

/* Badge background color */
.badge-danger {
  background-color: #EC4561;
}

/* Badge background color */
.badge-warning {
  background-color: #F8B425;
}

/* Badge background color */
.badge-info {
  background-color: #38A5F8;
}

/* Badge background color */
.badge-light {
  background-color: #f8f8fa;
}

/* Badge background color */
.badge-dark {
  background-color: #343549;
}

/* Basic alert style */
.alert {
  /* Disply */
  display: inline-block;
  /* Box */
  width: 100%;
  padding: 1rem;
  border: 1px solid transparent;
  /* Border */
  border-radius: 0.375rem;
  /* Color */
  color: #343549;
  background-color: transparent;
}

/* Alert background color */
.alert-primary {
  background-color: #9ec5fe;
  color: #2b2f32;
}

/* Alert background color */
.alert-secondary {
  background-color: #ced4da;
  color: #2b2f32;
}

/* Alert background color */
.alert-success {
  background-color: #d1e7dd;
  color: #2b2f32;
}

/* Alert background color */
.alert-danger {
  background-color: #f8d7da;
  color: #2b2f32;
}

/* Alert background color */
.alert-warning {
  background-color: #fff3cd;
  color: #2b2f32;
}

/* Alert background color */
.alert-info {
  background-color: #cff4fc;
  color: #2b2f32;
}

/* Alert background color */
.alert-light {
  background-color: #fcfcfd;
  color: #2b2f32;
}

/* Alert background color */
.alert-dark {
  background-color: #e2e3e5;
  color: #2b2f32;
}

/* Basic button style */
.btn {
  /* Disply */
  display: inline-block;
  /* Box */
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
  /* Border */
  border-radius: 0.375rem;
  /* Color */
  color: #343549;
  background-color: transparent;
  /* Transition */
  transition-duration: 350ms;
  /* Hover */
}
.btn:hover {
  filter: brightness(110%);
  cursor: pointer;
}

/* Size */
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
}

/* Button background color */
.btn-primary {
  background-color: #626ED4;
  color: white;
}

/* Outline button */
.btn-outline-primary {
  border-color: #626ED4;
  color: #626ED4;
}
.btn-outline-primary:hover {
  background-color: #626ED4;
  color: white;
}

/* Button background color */
.btn-secondary {
  background-color: #575c62;
  color: white;
}

/* Outline button */
.btn-outline-secondary {
  border-color: #575c62;
  color: #575c62;
}
.btn-outline-secondary:hover {
  background-color: #575c62;
  color: white;
}

/* Button background color */
.btn-success {
  background-color: #2AA39A;
  color: white;
}

/* Outline button */
.btn-outline-success {
  border-color: #2AA39A;
  color: #2AA39A;
}
.btn-outline-success:hover {
  background-color: #2AA39A;
  color: white;
}

/* Button background color */
.btn-danger {
  background-color: #EC4561;
  color: white;
}

/* Outline button */
.btn-outline-danger {
  border-color: #EC4561;
  color: #EC4561;
}
.btn-outline-danger:hover {
  background-color: #EC4561;
  color: white;
}

/* Button background color */
.btn-warning {
  background-color: #F8B425;
  color: white;
}

/* Outline button */
.btn-outline-warning {
  border-color: #F8B425;
  color: #F8B425;
}
.btn-outline-warning:hover {
  background-color: #F8B425;
  color: white;
}

/* Button background color */
.btn-info {
  background-color: #38A5F8;
  color: white;
}

/* Outline button */
.btn-outline-info {
  border-color: #38A5F8;
  color: #38A5F8;
}
.btn-outline-info:hover {
  background-color: #38A5F8;
  color: white;
}

/* Button background color */
.btn-light {
  background-color: #f8f8fa;
  color: white;
}

/* Outline button */
.btn-outline-light {
  border-color: #f8f8fa;
  color: #f8f8fa;
}
.btn-outline-light:hover {
  background-color: #f8f8fa;
  color: white;
}

/* Button background color */
.btn-dark {
  background-color: #343549;
  color: white;
}

/* Outline button */
.btn-outline-dark {
  border-color: #343549;
  color: #343549;
}
.btn-outline-dark:hover {
  background-color: #343549;
  color: white;
}

.row {
  /* Display */
  display: grid;
  justify-content: center;
  /* Grid */
  grid-template-columns: repeat(12, 1fr);
  /* Grid */
  gap: 1rem 1rem;
}

.col {
  grid-column: span 1;
}

.row-1 {
  grid-template-columns: repeat(1, 1fr);
}

.col-1 {
  grid-column: span 1;
}

.row-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-2 {
  grid-column: span 2;
}

.row-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-3 {
  grid-column: span 3;
}

.row-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-4 {
  grid-column: span 4;
}

.row-5 {
  grid-template-columns: repeat(5, 1fr);
}

.col-5 {
  grid-column: span 5;
}

.row-6 {
  grid-template-columns: repeat(6, 1fr);
}

.col-6 {
  grid-column: span 6;
}

.row-7 {
  grid-template-columns: repeat(7, 1fr);
}

.col-7 {
  grid-column: span 7;
}

.row-8 {
  grid-template-columns: repeat(8, 1fr);
}

.col-8 {
  grid-column: span 8;
}

.row-9 {
  grid-template-columns: repeat(9, 1fr);
}

.col-9 {
  grid-column: span 9;
}

.row-10 {
  grid-template-columns: repeat(10, 1fr);
}

.col-10 {
  grid-column: span 10;
}

.row-11 {
  grid-template-columns: repeat(11, 1fr);
}

.col-11 {
  grid-column: span 11;
}

.row-12 {
  grid-template-columns: repeat(12, 1fr);
}

.col-12 {
  grid-column: span 12;
}

/* https://getbootstrap.jp/docs/5.3/layout/containers/ */
.container-sm {
  /* Display */
  display: block;
  /* Box */
  width: 540px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .container-sm {
    width: 100%;
  }
}
.container-md {
  /* Display */
  display: block;
  /* Box */
  width: 720px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 768px) {
  .container-md {
    width: 100%;
  }
}
.container-lg {
  /* Display */
  display: block;
  /* Box */
  width: 960px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 992px) {
  .container-lg {
    width: 100%;
  }
}
.container-xl {
  /* Display */
  display: block;
  /* Box */
  width: 1140px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container-xl {
    width: 100%;
  }
}
.container-xxl {
  /* Display */
  display: block;
  /* Box */
  width: 1320px;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
@media (max-width: 1400px) {
  .container-xxl {
    width: 100%;
  }
}
.container-fluid {
  width: 100%;
}

body {
  margin: 0;
}

* {
  /* Font */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* Set box-sizing to border-box */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*# sourceMappingURL=henstyle.css.map */
