html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Border */
/* Colors */
/* Break points */
.card {
  /* Disply */
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  /* Font */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* Box */
  border: 1px solid rgba(0, 0, 0, 0.17);
  /* Border */
  border-radius: 0.375rem;
  /* Color */
  color: #343549;
  background-color: transparent;
  /* Transition */
  transition-duration: 350ms;
}

.card-header {
  /* Box */
  padding: 0.5rem 1rem;
  /* Border */
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  /* Color */
  background-color: rgba(33, 37, 41, 0.031372549);
}

.card-footer {
  /* Box */
  padding: 0.5rem 1rem;
  /* Border */
  border-top: 1px solid rgba(0, 0, 0, 0.17);
  /* Color */
  background-color: rgba(33, 37, 41, 0.031372549);
}

.card-body {
  padding: 1rem;
}
.card-body .card-title {
  /* Font */
  font-size: 1.25rem;
  /* Box */
  padding: 0;
  margin: 0 0 0.5rem 0;
}
.card-body .card-text {
  /* Maring */
  margin: 0 0 1rem 0;
}

/* Card background color */
.card-primary {
  background-color: #626ED4;
  color: white;
}

/* Card background color */
.card-secondary {
  background-color: #575c62;
  color: white;
}

/* Card background color */
.card-success {
  background-color: #2AA39A;
  color: white;
}

/* Card background color */
.card-danger {
  background-color: #EC4561;
  color: white;
}

/* Card background color */
.card-warning {
  background-color: #F8B425;
  color: white;
}

/* Card background color */
.card-info {
  background-color: #38A5F8;
  color: white;
}

/* Card background color */
.card-light {
  background-color: #F8F9FA;
  color: white;
}

/* Card background color */
.card-dark {
  background-color: #343549;
  color: white;
}

.input {
  /* Box */
  width: 100%;
  padding: 0.5rem 1rem;
  /* Font */
  font-size: 1rem;
  /* Box */
  border: 1px solid rgba(0, 0, 0, 0.17);
  /* Border */
  border-radius: 0.375rem;
}

.select {
  /* Box */
  width: 100%;
  padding: 0.5rem 1rem;
  /* Font */
  font-size: 1rem;
  /* Box */
  border: 1px solid rgba(0, 0, 0, 0.17);
  /* Border */
  border-radius: 0.375rem;
}

.range {
  /* Box */
  width: 100%;
  padding: 0.5rem 1rem;
  /* Font */
  font-size: 1rem;
}

/* Basic badge style */
.badge {
  /* Disply */
  display: inline-block;
  /* Font */
  font-size: 0.75rem;
  line-height: 1;
  /* Box */
  border: 1px solid transparent;
  padding: 0.35em 0.65em;
  /* Border */
  border-radius: 0.375rem;
  /* Color */
  color: #F8F9FA;
  background-color: #575c62;
}

/* Badge background color */
.badge-primary {
  background-color: #626ED4;
}

/* Badge background color */
.badge-secondary {
  background-color: #575c62;
}

/* Badge background color */
.badge-success {
  background-color: #2AA39A;
}

/* Badge background color */
.badge-danger {
  background-color: #EC4561;
}

/* Badge background color */
.badge-warning {
  background-color: #F8B425;
}

/* Badge background color */
.badge-info {
  background-color: #38A5F8;
}

/* Badge background color */
.badge-light {
  background-color: #F8F9FA;
}

/* Badge background color */
.badge-dark {
  background-color: #343549;
}

/* Basic alert style */
.alert {
  /* Disply */
  display: inline-block;
  /* Box */
  width: 100%;
  margin: 0.5rem 0;
  border: 1px solid transparent;
  padding: 1rem;
  /* Border */
  border-radius: 0.375rem;
  /* Color */
  color: #343549;
  background-color: transparent;
}

/* Alert background color */
.alert-primary {
  background-color: #9ec5fe;
  color: #2b2f32;
}

/* Alert background color */
.alert-secondary {
  background-color: #ced4da;
  color: #2b2f32;
}

/* Alert background color */
.alert-success {
  background-color: #d1e7dd;
  color: #2b2f32;
}

/* Alert background color */
.alert-danger {
  background-color: #f8d7da;
  color: #2b2f32;
}

/* Alert background color */
.alert-warning {
  background-color: #fff3cd;
  color: #2b2f32;
}

/* Alert background color */
.alert-info {
  background-color: #cff4fc;
  color: #2b2f32;
}

/* Alert background color */
.alert-light {
  background-color: #fcfcfd;
  color: #2b2f32;
}

/* Alert background color */
.alert-dark {
  background-color: #e2e3e5;
  color: #2b2f32;
}

.footer {
  /* Box */
  width: 100%;
  padding: 1rem;
}

.footer-primary {
  background-color: #626ED4;
}

.footer-secondary {
  background-color: #575c62;
}

.footer-success {
  background-color: #2AA39A;
}

.footer-danger {
  background-color: #EC4561;
}

.footer-warning {
  background-color: #F8B425;
}

.footer-info {
  background-color: #38A5F8;
}

.footer-light {
  background-color: #F8F9FA;
}

.footer-dark {
  background-color: #343549;
}

/* Basic button style */
.btn {
  /* Disply */
  display: inline-block;
  /* Font */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* Box */
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
  /* Border */
  border-radius: 0.375rem;
  /* Color */
  color: #343549;
  background-color: transparent;
  /* Transition */
  transition-duration: 350ms;
  /* Hover */
}
.btn:hover {
  filter: brightness(110%);
  cursor: pointer;
}
.btn:disabled {
  /* Disable all pointer events */
  pointer-events: none;
  cursor: auto;
  filter: opacity(50%);
}

/* Size */
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
}

/* Button background color */
.btn-primary {
  background-color: #626ED4;
  color: white;
}

/* Outline button */
.btn-outline-primary {
  border-color: #626ED4;
  color: #626ED4;
}
.btn-outline-primary:hover {
  background-color: #626ED4;
  color: white;
}

/* Button background color */
.btn-secondary {
  background-color: #575c62;
  color: white;
}

/* Outline button */
.btn-outline-secondary {
  border-color: #575c62;
  color: #575c62;
}
.btn-outline-secondary:hover {
  background-color: #575c62;
  color: white;
}

/* Button background color */
.btn-success {
  background-color: #2AA39A;
  color: white;
}

/* Outline button */
.btn-outline-success {
  border-color: #2AA39A;
  color: #2AA39A;
}
.btn-outline-success:hover {
  background-color: #2AA39A;
  color: white;
}

/* Button background color */
.btn-danger {
  background-color: #EC4561;
  color: white;
}

/* Outline button */
.btn-outline-danger {
  border-color: #EC4561;
  color: #EC4561;
}
.btn-outline-danger:hover {
  background-color: #EC4561;
  color: white;
}

/* Button background color */
.btn-warning {
  background-color: #F8B425;
  color: white;
}

/* Outline button */
.btn-outline-warning {
  border-color: #F8B425;
  color: #F8B425;
}
.btn-outline-warning:hover {
  background-color: #F8B425;
  color: white;
}

/* Button background color */
.btn-info {
  background-color: #38A5F8;
  color: white;
}

/* Outline button */
.btn-outline-info {
  border-color: #38A5F8;
  color: #38A5F8;
}
.btn-outline-info:hover {
  background-color: #38A5F8;
  color: white;
}

/* Button background color */
.btn-light {
  background-color: #F8F9FA;
  color: white;
}

/* Outline button */
.btn-outline-light {
  border-color: #F8F9FA;
  color: #F8F9FA;
}
.btn-outline-light:hover {
  background-color: #F8F9FA;
  color: white;
}

/* Button background color */
.btn-dark {
  background-color: #343549;
  color: white;
}

/* Outline button */
.btn-outline-dark {
  border-color: #343549;
  color: #343549;
}
.btn-outline-dark:hover {
  background-color: #343549;
  color: white;
}

.navbar {
  /* Box */
  width: 100%;
  padding: 0.5rem 0;
  /* Color */
  background-color: #F8F9FA;
}

.navbar-brand {
  /* Font */
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.8;
  /* Box */
  padding: 0.3125rem 0;
  margin: 0 1rem;
}

.row {
  /* Display */
  display: grid;
  justify-content: center;
  /* Grid */
  gap: 1rem 1rem;
  grid-template-columns: repeat(12, 1fr);
}

.col {
  grid-column: span 1;
}

.row-1 {
  grid-template-columns: repeat(1, 1fr);
}

.col-1 {
  grid-column: span 1;
}

.row-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-2 {
  grid-column: span 2;
}

.row-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-3 {
  grid-column: span 3;
}

.row-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-4 {
  grid-column: span 4;
}

.row-5 {
  grid-template-columns: repeat(5, 1fr);
}

.col-5 {
  grid-column: span 5;
}

.row-6 {
  grid-template-columns: repeat(6, 1fr);
}

.col-6 {
  grid-column: span 6;
}

.row-7 {
  grid-template-columns: repeat(7, 1fr);
}

.col-7 {
  grid-column: span 7;
}

.row-8 {
  grid-template-columns: repeat(8, 1fr);
}

.col-8 {
  grid-column: span 8;
}

.row-9 {
  grid-template-columns: repeat(9, 1fr);
}

.col-9 {
  grid-column: span 9;
}

.row-10 {
  grid-template-columns: repeat(10, 1fr);
}

.col-10 {
  grid-column: span 10;
}

.row-11 {
  grid-template-columns: repeat(11, 1fr);
}

.col-11 {
  grid-column: span 11;
}

.row-12 {
  grid-template-columns: repeat(12, 1fr);
}

.col-12 {
  grid-column: span 12;
}

@media (max-width: 576px) {
  .col-sm {
    grid-column: 1/-1;
  }
}
@media (max-width: 768px) {
  .col-md {
    grid-column: 1/-1;
  }
}
@media (max-width: 992px) {
  .col-lg {
    grid-column: 1/-1;
  }
}
@media (max-width: 1200px) {
  .col-xl {
    grid-column: 1/-1;
  }
}
@media (max-width: 1400px) {
  .col-xxl {
    grid-column: 1/-1;
  }
}
.container-sm {
  /* Display */
  display: block;
  /* Box */
  width: 540px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .container-sm {
    padding: 0 1rem;
    width: 100%;
  }
}
.container-md {
  /* Display */
  display: block;
  /* Box */
  width: 720px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 768px) {
  .container-md {
    padding: 0 1rem;
    width: 100%;
  }
}
.container-lg {
  /* Display */
  display: block;
  /* Box */
  width: 960px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 992px) {
  .container-lg {
    padding: 0 1rem;
    width: 100%;
  }
}
.container-xl {
  /* Display */
  display: block;
  /* Box */
  width: 1140px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container-xl {
    padding: 0 1rem;
    width: 100%;
  }
}
.container-xxl {
  /* Display */
  display: block;
  /* Box */
  width: 1320px;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
@media (max-width: 1400px) {
  .container-xxl {
    padding: 0 1rem;
    width: 100%;
  }
}
.container-fluid {
  /* Box */
  width: 100%;
  padding: 0 1rem;
}

/* Margin & Padding */
/* Margin */
.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mx-0 {
  margin: 0 0 !important;
}

.my-0 {
  margin: 0 0 !important;
}

/* Padding */
.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.px-0 {
  padding: 0 0 !important;
}

.py-0 {
  padding: 0 0 !important;
}

/* Others */
.t-0 {
  top: 0 !important;
}

.b-0 {
  bottom: 0 !important;
}

.r-0 {
  right: 0 !important;
}

.l-0 {
  left: 0 !important;
}

/* Margin */
.m-1 {
  margin: 0.25rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.mx-1 {
  margin: 0 0.25rem !important;
}

.my-1 {
  margin: 0.25rem 0 !important;
}

/* Padding */
.p-1 {
  padding: 0.25rem !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.px-1 {
  padding: 0 0.25rem !important;
}

.py-1 {
  padding: 0.25rem 0 !important;
}

/* Others */
.t-1 {
  top: 0.25rem !important;
}

.b-1 {
  bottom: 0.25rem !important;
}

.r-1 {
  right: 0.25rem !important;
}

.l-1 {
  left: 0.25rem !important;
}

/* Margin */
.m-2 {
  margin: 0.5rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.mx-2 {
  margin: 0 0.5rem !important;
}

.my-2 {
  margin: 0.5rem 0 !important;
}

/* Padding */
.p-2 {
  padding: 0.5rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.px-2 {
  padding: 0 0.5rem !important;
}

.py-2 {
  padding: 0.5rem 0 !important;
}

/* Others */
.t-2 {
  top: 0.5rem !important;
}

.b-2 {
  bottom: 0.5rem !important;
}

.r-2 {
  right: 0.5rem !important;
}

.l-2 {
  left: 0.5rem !important;
}

/* Margin */
.m-3 {
  margin: 1rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.mx-3 {
  margin: 0 1rem !important;
}

.my-3 {
  margin: 1rem 0 !important;
}

/* Padding */
.p-3 {
  padding: 1rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.px-3 {
  padding: 0 1rem !important;
}

.py-3 {
  padding: 1rem 0 !important;
}

/* Others */
.t-3 {
  top: 1rem !important;
}

.b-3 {
  bottom: 1rem !important;
}

.r-3 {
  right: 1rem !important;
}

.l-3 {
  left: 1rem !important;
}

/* Margin */
.m-4 {
  margin: 1.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.mx-4 {
  margin: 0 1.5rem !important;
}

.my-4 {
  margin: 1.5rem 0 !important;
}

/* Padding */
.p-4 {
  padding: 1.5rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.px-4 {
  padding: 0 1.5rem !important;
}

.py-4 {
  padding: 1.5rem 0 !important;
}

/* Others */
.t-4 {
  top: 1.5rem !important;
}

.b-4 {
  bottom: 1.5rem !important;
}

.r-4 {
  right: 1.5rem !important;
}

.l-4 {
  left: 1.5rem !important;
}

/* Margin */
.m-5 {
  margin: 2rem !important;
}

.mt-5 {
  margin-top: 2rem !important;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.mr-5 {
  margin-right: 2rem !important;
}

.ml-5 {
  margin-left: 2rem !important;
}

.mx-5 {
  margin: 0 2rem !important;
}

.my-5 {
  margin: 2rem 0 !important;
}

/* Padding */
.p-5 {
  padding: 2rem !important;
}

.pt-5 {
  padding-top: 2rem !important;
}

.pb-5 {
  padding-bottom: 2rem !important;
}

.pr-5 {
  padding-right: 2rem !important;
}

.pl-5 {
  padding-left: 2rem !important;
}

.px-5 {
  padding: 0 2rem !important;
}

.py-5 {
  padding: 2rem 0 !important;
}

/* Others */
.t-5 {
  top: 2rem !important;
}

.b-5 {
  bottom: 2rem !important;
}

.r-5 {
  right: 2rem !important;
}

.l-5 {
  left: 2rem !important;
}

/* Margin */
.m-6 {
  margin: 3rem !important;
}

.mt-6 {
  margin-top: 3rem !important;
}

.mb-6 {
  margin-bottom: 3rem !important;
}

.mr-6 {
  margin-right: 3rem !important;
}

.ml-6 {
  margin-left: 3rem !important;
}

.mx-6 {
  margin: 0 3rem !important;
}

.my-6 {
  margin: 3rem 0 !important;
}

/* Padding */
.p-6 {
  padding: 3rem !important;
}

.pt-6 {
  padding-top: 3rem !important;
}

.pb-6 {
  padding-bottom: 3rem !important;
}

.pr-6 {
  padding-right: 3rem !important;
}

.pl-6 {
  padding-left: 3rem !important;
}

.px-6 {
  padding: 0 3rem !important;
}

.py-6 {
  padding: 3rem 0 !important;
}

/* Others */
.t-6 {
  top: 3rem !important;
}

.b-6 {
  bottom: 3rem !important;
}

.r-6 {
  right: 3rem !important;
}

.l-6 {
  left: 3rem !important;
}

/* Margin */
.m-auto {
  margin: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mx-auto {
  margin: 0 auto !important;
}

.my-auto {
  margin: auto 0 !important;
}

/* Padding */
.p-auto {
  padding: auto !important;
}

.pt-auto {
  padding-top: auto !important;
}

.pb-auto {
  padding-bottom: auto !important;
}

.pr-auto {
  padding-right: auto !important;
}

.pl-auto {
  padding-left: auto !important;
}

.px-auto {
  padding: 0 auto !important;
}

.py-auto {
  padding: auto 0 !important;
}

/* Others */
.t-auto {
  top: auto !important;
}

.b-auto {
  bottom: auto !important;
}

.r-auto {
  right: auto !important;
}

.l-auto {
  left: auto !important;
}

/* Width & Height */
.w-25 {
  width: 25%;
}

.h-25 {
  height: 25%;
}

.w-50 {
  width: 50%;
}

.h-50 {
  height: 50%;
}

.w-75 {
  width: 75%;
}

.h-75 {
  height: 75%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

/* Text align */
.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

/* Text break */
.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.text-break-none {
  word-break: keep-all !important;
}

/* Text case */
.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/* Text decoration */
.text-decoration-none {
  text-decoration: none;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

/* Z-index */
.z-n1 {
  z-index: -1;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-99 {
  z-index: 99;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.17);
}

.border-none {
  border: none;
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.17);
}

.border-top-none {
  border-top: none;
}

.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.17);
}

.border-right-none {
  border-right: none;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
}

.border-bottom-none {
  border-bottom: none;
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.17);
}

.border-left-none {
  border-left: none;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

.d-inline-grid {
  display: inline-grid;
}

.d-table {
  display: table;
}

.d-table-cell {
  display: table-cell;
}

.d-table-row {
  display: table-row;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.opacity-0 {
  opacity: 0;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-100 {
  opacity: 0.1;
}

.bg-primary {
  background-color: #626ED4;
}

.bg-secondary {
  background-color: #575c62;
}

.bg-success {
  background-color: #2AA39A;
}

.bg-danger {
  background-color: #EC4561;
}

.bg-warning {
  background-color: #F8B425;
}

.bg-info {
  background-color: #38A5F8;
}

.bg-light {
  background-color: #F8F9FA;
}

.bg-dark {
  background-color: #343549;
}

.bg-light-primary {
  background-color: #9ec5fe;
}

.bg-light-secondary {
  background-color: #ced4da;
}

.bg-light-success {
  background-color: #d1e7dd;
}

.bg-light-danger {
  background-color: #f8d7da;
}

.bg-light-warning {
  background-color: #fff3cd;
}

.bg-light-info {
  background-color: #cff4fc;
}

.bg-light-light {
  background-color: #fcfcfd;
}

.bg-light-dark {
  background-color: #e2e3e5;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-index {
  overflow-x: auto;
}

.overflow-y-index {
  overflow-y: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-index {
  overflow-x: hidden;
}

.overflow-y-index {
  overflow-y: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-x-index {
  overflow-x: visible;
}

.overflow-y-index {
  overflow-y: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-index {
  overflow-x: scroll;
}

.overflow-y-index {
  overflow-y: scroll;
}

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

* {
  /* Set box-sizing to border-box */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* Focus style */
}
*:focus {
  outline-style: solid;
  outline-width: 0.25rem;
  outline-color: rgba(13, 110, 253, 0.25);
}

/*# sourceMappingURL=henstyle.css.map */
