$border: 1px solid rgb(0, 0, 0, 0.17);

/* Border */
.border {
    border: $border;
}

.border-top {
    border-top: $border;
}

.border-right {
    border-right: $border;
}

.border-bottom {
    border-bottom: $border;
}

.border-left {
    border-left: $border;
}

/* Clear border */
.border-none {
    border: none;
}

.border-top-none {
    border-top: none;
}

.border-right-none {
    border-right: none;
}

.border-bottom-none {
    border-bottom: none;
}

.border-left-none {
    border-left: none;
}