$displays: (
    none: none,
    inline: inline,
    inline-block: inline-block,
    block: block,
    grid: grid,
    inline-grid: inline-grid,
    table: table,
    table-cell: table-cell,
    table-row: table-row,
    flex: flex,
    inline-flex: inline-flex
);

@each $index, $display in $displays {
    .d-#{$index} {
        display: $display;
    }
}