$overflows: (
    auto: auto,
    hidden: hidden,
    visible: visible,
    scroll: scroll
);

@each $index, $overflow in $overflows {
    .overflow-#{$index} {
        overflow: $overflow;
    }

    .overflow-x-#{index} {
        overflow-x: $overflow;
    }

    .overflow-y-#{index} {
        overflow-y: $overflow;
    }
}