$sizes: (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
);

@each $index, $size in $sizes {
    .w-#{$index} {
        width: $size;
    }

    .h-#{$index} {
        height: $size;
    }
}