/* Text align */
$aligns: start, center, end;

@each $align in $aligns {
    .text-#{$align} {
        text-align: $align;
    }
}

/* Text break */
.text-break {
    word-wrap: break-word !important;
    word-break: break-word !important;
}

.text-break-none {
    word-break: keep-all !important;
}

/* Text case */
$cases: (
    upper: uppercase,
    lower: lowercase,
    capitalize: capitalize
);

@each $index, $case in $cases {
    .text-#{$index} {
        text-transform: $case;
    }
}

/* Text decoration */
$decorations: none, underline, line-through;

@each $decoration in $decorations {
    .text-decoration-#{$decoration} {
        text-decoration: $decoration;
    }
}