/* Text align */
.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

/* Text break */
.text-break {
    word-wrap: break-word !important;
    word-break: break-word !important;
}

.text-break-none {
    word-break: keep-all !important;
}

/* Text case */
.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

/* Text decoration */
.text-decoration-none {
    text-decoration: none;
}

.text-decoration-underline {
    text-decoration: underline;
}

.text-decoration-line-through {
    text-decoration: line-through;
}