@use "../variable" as *;

@each $tag, $width in $breakpoints {
    .container-#{$tag} {
        /* Display */
        display: block;

        /* Box */
        width: nth($width, 2);
        margin: 0 auto;
    }

    @media (min-width: nth($width, 1)) {
        .container {
            width: nth($width, 2);
        }
    }

    @media (max-width: nth($width, 1)) {
        .container-#{$tag} {
            padding: 0 1rem;
            width: 100%;
        }
    }
}

.container-fluid {
    /* Box */
    width: 100%;
    padding: 0 1rem;
}