@use "../variable" as *;

.row {
    /* Display */
    display: grid;
    justify-content: center;

    /* Grid */
    gap: 1rem 1rem;
    grid-template-columns: repeat(12, 1fr);
}

.col {
    grid-column: span 1;
}

@for $i from 1 through 12 {
    .row-#{$i} {
        grid-template-columns: repeat($i, 1fr);
    }

    .col-#{$i} {
        grid-column: span $i;
    }
}

@each $index, $breakpoint in $breakpoints {
    @media (max-width: $breakpoint) {
        .col-#{$index} {
            grid-column: 1 / -1; // Span all the lines.
        }
    }
}