@use "../variable" as *;

/* Basic alert style */
.alert {
    /* Disply */
    display: inline-block;

    /* Box */
    width: 100%;
    padding: 1rem;
    border: $border;

    /* Border */
    border-radius: $border-radius;

    /* Color */
    color: $color-dark;
    background-color: transparent;
}

@each $name, $color in $colors-light {
    /* Alert background color */
    .alert-#{$name} {
        background-color: $color;
        color: #2b2f32;
    }
}