@use "../variable" as *;

/* Basic button style */
.btn {
    /* Disply */
    display: inline-block;

    /* Box */
    margin: .25rem .125rem;
    padding: .375rem .75rem;
    border: $border;

    /* Border */
    border-radius: $border-radius;

    /* Color */
    color: $color-dark;
    background-color: transparent;

    &:hover {
        transition-duration: 350ms;
        filter: brightness(110%);
        cursor: pointer;
    }
}

/* Button background color */
@each $name, $color in $colors {
    .btn-#{$name} {
        background-color: $color;
        color: white;
    }
}