@use "../variable" as *;

.input {
    /* Box */
    width: 100%;
    padding: .5rem 1rem;
    border: $border-light;

    /* Font */
    font-size: 1rem;

    /* Border */
    border-radius: $border-radius;
}

.select {
    /* Box */
    width: 100%;
    padding: .5rem 1rem;
    border: $border-light;

    cursor: pointer;

    /* Font */
    font-size: 1rem;

    /* Border */
    border-radius: $border-radius;
}

.range {
    /* Box */
    width: 100%;
    padding: .5rem 1rem;

    /* Font */
    font-size: 1rem;
}