@use "../variable" as *;

.navbar {
    /* Box */
    padding: .5rem 0;

    /* Color */
    background-color: #F8F9FA;
}

.navbar-brand {
    /* Font */
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.8;

    /* Box */
    padding: .3125rem 0;
    margin: 0 1rem;
}