/* Import variables */
@use "../variable" as *;

.alt {
    /* Disply */
    display: inline-block;
    padding: $padding;
    width: 100%;

    /* Font */
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;

    /* Border */
    border: $border;
    border-radius: $border-radius;

    /* Color */
    color: $color-dark;
    background-color: transparent;
}

/* Alert background color */
@each $name, $color in $colors-light {
    .alt-#{$name} {
        background-color: $color;
        color: #2b2f32;
    }
}